.navbar {
    background: #74AEDE;
    height: 80px;
    justify-content: space-between;  
    padding: 0 20px;
    font-size: 1.2rem;
    top: 0;
    width: 100%; 
    z-index: 999;
}

.navbar-container {
    display: flex;
    justify-content: space-between; /* Ensure space between logo and menu */
 
    width: 100%;
    top: 0;
    max-width: 1500px;
}

/* change the size of the logo so it fits on the nav bar */
.logo {
    width: auto; 
    height: 80px; /* Keep aspect ratio */
    margin-left: 20px; /* Adjust spacing from the left */
    position: relative;
}

.menu-icon {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 20px;  /* Adds spacing between the nav items */
}

.nav-item {
    display: flex;

}

.nav-links {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover {
    border-bottom: 2px solid #fff;
    transition: all 0.2s ease-out;
}

/* Mobile view */
@media screen and (max-width: 960px) {
    .menu-icon {
        display: block;
        position: absolute;
        right: 20px;  /* Adjust icon to the top right */
        top: 25px;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        height: 90vh;
        background-color: #242222;
        opacity: 0;
        transition: all 0.5s ease;
        transform: translateX(100%);
    }

    .nav-menu.active {
        opacity: 1;
        transform: translateX(0);
    }

    .nav-item {
        width: 100%;

        padding: 2rem 0;
    }

    .nav-links {
        font-size: 1.5rem;
    }

    .nav-links:hover {
        background-color: #fff;
        color: #242424;
    }
}
